#topnavigation {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px #58180D;
    vertical-align: bottom;
    align-items: center;
    list-style: none;
    background-color: #EEE5CE;
    box-shadow: 0px 0px 15px black;
}
#topnavigation li {
    display: inline-block;
    margin-right: 20px;
    font-size: 30px;
    vertical-align: bottom;
    height: 100%;
}
#topnavigation a {
    text-decoration: none;
    height: 100%;
    color: #58180D;
    font-weight: 500;
}
#topnavigation a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 15px #58180D;
    font-weight: 500;
}
#topnavigation img {
    max-height: 30px;
}
#monsterinput {
    width: calc(100% - 600px);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-right: solid 5px #58180D;
    border-top: solid 5px #58180D;
    border-bottom: solid 5px #58180D;
    background-image: url(../img/parchment.png);
    box-shadow: 0px 0px 15px black;
}
#monsterinput #utilitybuttons button {
    width: 33%;
}
#monsterinput button {
    border: solid 2px #58180D;
    margin-bottom: 3px;
    padding: 3px;
    background-color: #58180D;
    color: #EEE5CE;
}
#monsterinput button:active {
    border: solid 2px #58180D;
    margin-bottom: 3px;
    padding: 3px;
    background-color: #58180D;
    color: #EEE5CE;
    text-shadow: 0px 0px 4px #EEE5CE;
}
#monsterinput button:disabled, #monsterinput button:disabled {
    background-color: lightgray;
    color: #58180D;
}
#monsterinput input {
    border: solid 2px #58180D;
    margin-bottom: 3px;
    padding: 3px;
    background-color: #EEE5CE;
}
#monsterinput textarea {
    border: solid 2px #58180D;
    margin-bottom: 3px;
    padding: 3px;
    background-color: #EEE5CE;
}
#monsterinput select {
    border: solid 2px #58180D;
    margin-bottom: 3px;
    padding: 3px;
    background-color: #EEE5CE;
}
#monsterinput thead {
    text-align: center;
    font-weight: bold;
}
#monsterinput td {
    font-family: arial;
}
#monsterinput .monsterbasic tr td {
    height: 25px;
}
#monsterinput #spellcaster input {
    width: 140px;
}
#monsterinput #spellcaster select {
    width: 140px;
}
#monsterinput #spellcaster .spelllevels input {
    width: 50px;
}
#monsterinput #spellcaster h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
#monsterinput #spellcaster .spelllist .spellname {
    margin-left: 25px;
    width: 300px;
}
#monsterinput #spellcaster .spelllist .spelllevel {
    width: 75px;
}
#statblock {
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 40px;
}
#statblock blockquote {
    width: 450px;
    margin: 0;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #EEE5CE;
    border-top: solid 8px tan;
    border-bottom: solid 8px tan;
    box-shadow: 0px 0px 15px black;
}
#statblock .monstername {
    font-family: 'Alegreya SC', serif;
    color: #58180D;
}
#statblock .statarray {
    width: 100%;
    color: #58180D;
    text-align: center;
}
#statblock .statarray th {
    width: 16.7%;
}
#statblock h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
#statblock h3 {
    color: #58180D;
    font-weight: 100;
    border-bottom: solid 1px #58180D;
    margin-top: 0px;
    margin-bottom: 5px;
}
#statblock p {
    margin-top: 0px;
    margin-bottom: 10px;
}
#statblock ul {
    list-style: none;
    padding-left: 0px;
    color: #58180D;
}
#statblock hr {
    background-image: url(../img/separator.png);
    background-size: 100% 100%;
    height: 5px;
    border: 0px;
}
.abilityscores input {
    max-width: 100px;
}
.sortablelist {
    padding: 0px;
    max-width: 500px;
}
.sortablelist li {
    list-style: none;
    margin-left: 0px;
    background-color: lightgray;
    border: solid 1px gray;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.sortablelist .listitemtitle {
    display: inline-block;
    margin-left: 5%;
    width: 80%;
}
.sortablelist .deletebutton {
    position: relative;
    display: inline-block;
    width:10%;
}
.sortablelist .actiontype {
    display: block;
    margin-left: 5%;
    width: 90%;
}
.sortablelist .rangedtype {
    display: block;
    margin-left: 5%;
    width: 90%;
}
.sortablelist .attacktype {
    display: block;
    margin-left: 5%;
    width: 90%;
}
.sortablelist .attackdamage {
    display: block;
    margin-left: 5%;
    width: 90%;
}
.sortablelist .attackdamage input {
    display: inline-block;
    width: 20%;
}
.sortablelist .meleedetails {
    display: block;
    margin-left: 5%;
    width: 90%;
}
.sortablelist .fireforgetdetails {
    display: block;
    margin-left: 5%;
    width: 90%;
}
.sortablelist .areadetails {
    display: block;
    margin-left: 5%;
    width: 90%;
}
.sortablelist .nonareadetails {
    display: block;
    margin-left: 5%;
    width: 90%;
}
.sortablelist .attackdamagedetails {
    display: block;
    margin-left: 5%;
    width: 90%;
}
.sortablelist textarea {
    display: block;
    margin-left: 5%;
    min-height: 100px;
    width: 90%;
}
body {
    margin: 0;
}
